@import "variables";

// ? Media queries

@media screen and (max-width: 935px) {
  nav {
    .hamburger {
      top: 1.2rem;
    }
  }
  main {
    .canvas {
      grid-template-rows: 140px 3% 1fr;
      gap: 10px;
      // ? section to displays
      .nav-mobile-task {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }

      // ! heading
      .head-create-task {
        grid-template-columns: 40% 60%;

        .first-col-head {
          .create-task {
            top: 6rem;
            left: 17%;
            flex-direction: column;
          }
        }
        .first-col-head.moveUp {
          align-items: center;
        }

        .second-row-head {
          align-items: center;
        }
        // ? dark mode none
        .third-row-head {
          display: none;
        }
      }

      .all-todo {
        display: flex;
        overflow: auto;
        scroll-snap-type: x mandatory;
        gap: 15px;

        .to-start,
        .in-progress,
        .done {
          flex: 0 0 100%;
          scroll-snap-align: start;
          scroll-snap-stop: always;

          .heading-for-Task {
            display: none;
          }
        }
      }
    }
  }

  // ? Animation
  @keyframes formOut {
    0% {
      transform: scaleY(1);
      transform-origin: 100% 0;
      opacity: 1;
    }
    100% {
      transform: scaleY(0);
      transform-origin: 100% 0;
      opacity: 1;
    }
  }
  @keyframes textUp {
    0% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(0, -20px);
    }
  }
  @keyframes textDown {
    0% {
      transform: translate(0, -20px);
    }

    100% {
      transform: translate(0, 0);
    }
  }
}

@media screen and (max-width: 550px) {
  nav.active {
    height: 90%;
    width: 100% !important;
  }
  nav {
    top: 0;
    width: 100% !important;
    height: 45px;
    border-radius: 0 0 20px 20px;
  }

  main {
    padding: 0;
    .canvas {
      grid-template-rows: 180px 3% 1fr;
      .head-create-task {
        .first-col-head {
          .create-task {
            top: 7.5rem;
            left: 10%;
          }
          h2 {
            &.moveUp,
            &.moveDown {
              animation: none;
            }
          }
        }
        // .second-row-head {
        // }
      }
      // .all-todo {
      //   .to-start,
      //   .in-progress,
      //   .done {
      //   }

      // .todo,
      // .progressTask,
      // .completeTask {
      // }
      // }
    }
  }
}
