// ? Media queries

@media screen and (max-width: 930px) {
  main {
    flex-direction: column;

    // ? hamburger is active
    .tabule.active {
      width: 100% !important;
    }
    #nav.active {
      width: 100% !important;
      height: 90%;
    }

    nav {
      width: 100%;
      height: 8%;

      position: fixed;
      z-index: 101;
      border-radius: 0 0 30px 30px;

      transition: all 400ms cubic-bezier(0.9, -0.03, 0.48, 0.99);

      .hamburger {
        top: 1.2rem;
      }

      .hamburger.hamburger.is-active {
        left: 0.8rem;
        top: 1.2rem;
      }

      .hamburger.is-active span:nth-child(1) {
        width: 26px;
        transform: translate(-2px, -1px) rotate(12deg);
      }
      .hamburger.is-active span:nth-child(2) {
        width: 0px;
        opacity: 0;
      }
      .hamburger.is-active span:nth-child(3) {
        width: 26px;
        transform: translate(5px, -1px) rotate(-72deg);
      }
    }

    .tabule {
      width: 100%;
      height: 90%;
      margin-top: 3rem;
      padding-bottom: 1rem;

      .canvas {
        .head-create-task {
          grid-template-columns: 40% 60%;

          .first-row-head {
            .create-task {
              top: 9.2rem;
              left: 5%;
              flex-direction: column;
            }
          }
          .first-row-head.moveUp {
            align-items: center;
          }

          .first-row-head h2 {
            padding: 0.3rem;
          }
          .third-row-head {
            display: none;
          }
        }
        .all-todo {
          grid-template-columns: 1fr;

          h2 {
            padding-left: 0.5rem;
          }

          .to-start,
          .in-progress,
          .done {
            align-items: flex-start;
          }

          .todo,
          .progressTask,
          .completeTask {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0 0.3rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  main .tabule .canvas {
    .head-create-task {
      .second-row-head {
        align-items: center;
      }
    }
    .all-todo {
      grid-template-columns: 1fr;

      .to-start,
      .in-progress,
      .done {
        align-items: flex-start;
      }

      .todo,
      .progressTask,
      .completeTask {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
