@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
  color: #24282c;
  background: linear-gradient(90deg, #f7f6f0 21px, transparent 1%) center, linear-gradient(#f7f6f0 21px, transparent 1%) center, grey;
  background-size: 22px 22px;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
}
main .tabule.active {
  width: 80% !important;
}
main #nav.active {
  width: 20% !important;
}
main nav {
  width: 5%;
  height: 100%;
  background-color: #fff;
  border-radius: 0 50px 40px 0;
  box-shadow: 0 2px 5px #24282c;
  transition: all 200ms ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
main nav .hamburger {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 1.4rem;
  left: 0.8rem;
  z-index: 50;
  transform: rotate(30deg);
  transition: all 200ms ease-out;
}
main nav .hamburger span {
  display: block;
  width: 33px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background-color: #000;
  border-radius: 6px;
  z-index: 50;
  transform-origin: 0 0;
  transition: 0.4s;
}
main nav .hamburger span:nth-child(1) {
  width: 23px;
}
main nav .hamburger span:nth-child(3) {
  width: 23px;
  transform: translateX(10px);
}
main nav .hamburger.hamburger.is-active {
  left: 15%;
  top: 2rem;
}
main nav .hamburger.is-active span:nth-child(1) {
  transform: translate(-1px, 8.5px) rotate(-55deg);
}
main nav .hamburger.is-active span:nth-child(2) {
  transform: rotate(-30deg);
}
main nav .hamburger.is-active span:nth-child(3) {
  transform: translate(0px, -8px) rotate(-3deg);
}
main nav .navbar {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main nav .navbar h1 {
  font-size: clamp(1rem, 5vw, 1.5rem);
}
main nav .navbar .searchbox input {
  width: 150px;
  height: 1.5rem;
  border-radius: 40px;
  border: 2px solid #24282c;
  color: #24282c;
  padding: 0 1rem;
}
main nav .navbar .calendar-box {
  border: 2px solid #24282c;
  width: 9rem;
  height: 9rem;
  border-radius: 10px;
  margin: 1rem;
}
main .tabule {
  width: 95%;
  height: 100%;
  transition: all 200ms ease-out;
}
main .tabule .canvas {
  width: 100%;
  height: 100%;
}
main .tabule .canvas .head-create-task {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
}
main .tabule .canvas .head-create-task h2 {
  padding: 1rem;
}
main .tabule .canvas .head-create-task h2 #add-task {
  padding: 0 0.55rem;
  margin: 0.4rem;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  background-color: #24282c;
  color: #fff;
  cursor: pointer;
}
main .tabule .canvas .head-create-task .create-task.pulse {
  display: flex;
  height: auto;
  width: auto;
  left: 0;
  -webkit-animation: pulse 900ms linear 0s 1 normal none;
          animation: pulse 900ms linear 0s 1 normal none;
}
main .tabule .canvas .head-create-task .create-task {
  position: relative;
  top: 1rem;
  left: -3rem;
  height: 30px;
  width: 30px;
  overflow: hidden;
  transition: all 400ms ease-out;
  background-color: #d3f36b;
  border-radius: 15px;
  padding: 0.6rem;
  box-shadow: 1px 2px 5px #24282c;
  display: none;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
main .tabule .canvas .head-create-task .create-task input,
main .tabule .canvas .head-create-task .create-task select {
  border: none;
  padding: 0.2rem;
  border-radius: 10px;
  outline: none;
  color: #24282c;
  font-family: "Lora", serif;
}
main .tabule .canvas .head-create-task .create-task .one-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .tabule .canvas .head-create-task .create-task .one-row #text {
  width: 16rem;
  margin-bottom: 0.5rem;
}
main .tabule .canvas .head-create-task .create-task .one-row #description {
  width: 16rem;
}
main .tabule .canvas .head-create-task .create-task .two-row {
  width: 9rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
main .tabule .canvas .head-create-task .create-task .two-row .date {
  content: url(/icon/calendar.svg);
  height: 20px;
  width: 20px;
}
main .tabule .canvas .head-create-task .create-task .two-row #date {
  margin-bottom: 0.5rem;
  width: 6.5rem;
}
main .tabule .canvas .head-create-task .create-task .two-row .time {
  content: url(/icon/clock.svg);
  height: 20px;
  width: 20px;
}
main .tabule .canvas .head-create-task .create-task .two-row .prior {
  padding-top: 0.3rem;
}
main .tabule .canvas .head-create-task .create-task .two-row .prior label {
  content: url(/icon/alert-triangle.svg);
  height: 20px;
  width: 20px;
}
main .tabule .canvas .head-create-task .create-task #submit {
  width: 1.5rem;
  height: 1.5rem;
  font-weight: bold;
  border-radius: 50%;
  background-color: #24282c;
  color: #fff;
}
main .tabule .canvas .all-todo {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "start progress done";
}
main .tabule .canvas .all-todo h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1rem, 5vw, 1.375rem);
  font-weight: 600;
  padding: 1rem 0;
}
main .tabule .canvas .all-todo .to-start {
  grid-area: start;
  padding: 0 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
main .tabule .canvas .all-todo .in-progress {
  grid-area: progress;
  padding: 0 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
main .tabule .canvas .all-todo .done {
  grid-area: done;
  padding: 0 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
main .tabule .canvas .all-todo .todo,
main .tabule .canvas .all-todo .progressTask,
main .tabule .canvas .all-todo .completeTask {
  height: 100%;
}
main .tabule .canvas .all-todo .todo .newTask,
main .tabule .canvas .all-todo .progressTask .newTask,
main .tabule .canvas .all-todo .completeTask .newTask {
  list-style: none;
  width: clamp(285px, 5vw, 95%);
  height: 6rem;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #fff;
  color: #24282c;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 7px #24282c;
  transition: all 200ms ease-out;
}
main .tabule .canvas .all-todo .todo .newTask:hover, main .tabule .canvas .all-todo .todo .newTask:focus,
main .tabule .canvas .all-todo .progressTask .newTask:hover,
main .tabule .canvas .all-todo .progressTask .newTask:focus,
main .tabule .canvas .all-todo .completeTask .newTask:hover,
main .tabule .canvas .all-todo .completeTask .newTask:focus {
  height: 8.5rem;
}
main .tabule .canvas .all-todo .todo .newTask .head,
main .tabule .canvas .all-todo .progressTask .newTask .head,
main .tabule .canvas .all-todo .completeTask .newTask .head {
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
main .tabule .canvas .all-todo .todo .newTask .head .priority,
main .tabule .canvas .all-todo .progressTask .newTask .head .priority,
main .tabule .canvas .all-todo .completeTask .newTask .head .priority {
  display: inline-block;
  width: 50px;
  height: 10px;
  border-radius: 5px;
  background-color: #14dd28;
}
main .tabule .canvas .all-todo .todo .newTask .head .to-do,
main .tabule .canvas .all-todo .progressTask .newTask .head .to-do,
main .tabule .canvas .all-todo .completeTask .newTask .head .to-do {
  content: url(/icon/circle.svg);
  height: 15px;
  width: 15px;
}
main .tabule .canvas .all-todo .todo .newTask .head .progress,
main .tabule .canvas .all-todo .progressTask .newTask .head .progress,
main .tabule .canvas .all-todo .completeTask .newTask .head .progress {
  content: url(/icon/progress.svg);
  height: 15px;
  width: 15px;
}
main .tabule .canvas .all-todo .todo .newTask .head .complet,
main .tabule .canvas .all-todo .progressTask .newTask .head .complet,
main .tabule .canvas .all-todo .completeTask .newTask .head .complet {
  content: url(/icon/check-circle.svg);
  height: 15px;
  width: 15px;
}
main .tabule .canvas .all-todo .todo .newTask .task-info,
main .tabule .canvas .all-todo .progressTask .newTask .task-info,
main .tabule .canvas .all-todo .completeTask .newTask .task-info {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-auto-columns: auto;
}
main .tabule .canvas .all-todo .todo .newTask .task-info .taskText,
main .tabule .canvas .all-todo .progressTask .newTask .task-info .taskText,
main .tabule .canvas .all-todo .completeTask .newTask .task-info .taskText {
  width: 100%;
}
main .tabule .canvas .all-todo .todo .newTask .task-info .taskText input,
main .tabule .canvas .all-todo .progressTask .newTask .task-info .taskText input,
main .tabule .canvas .all-todo .completeTask .newTask .task-info .taskText input {
  border: none;
  padding: 0.2rem;
  border-radius: 10px;
  outline: none;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
main .tabule .canvas .all-todo .todo .newTask .task-info .taskText #taskName,
main .tabule .canvas .all-todo .progressTask .newTask .task-info .taskText #taskName,
main .tabule .canvas .all-todo .completeTask .newTask .task-info .taskText #taskName {
  color: #24282c;
  font-size: clamp(0.9rem, 10vw, 1.1rem);
  font-weight: 500;
}
main .tabule .canvas .all-todo .todo .newTask .task-info .taskText #note,
main .tabule .canvas .all-todo .progressTask .newTask .task-info .taskText #note,
main .tabule .canvas .all-todo .completeTask .newTask .task-info .taskText #note {
  color: #5f5f5f;
}
main .tabule .canvas .all-todo .todo .newTask .task-info .clock,
main .tabule .canvas .all-todo .progressTask .newTask .task-info .clock,
main .tabule .canvas .all-todo .completeTask .newTask .task-info .clock {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .tabule .canvas .all-todo .todo .newTask .task-info .clock input,
main .tabule .canvas .all-todo .progressTask .newTask .task-info .clock input,
main .tabule .canvas .all-todo .completeTask .newTask .task-info .clock input {
  text-align: center;
  border: none;
  width: 6rem;
  padding: 0.2rem;
  border-radius: 10px;
  outline: none;
  color: #24282c;
  font-family: "Lora", serif;
  font-size: 0.93rem;
}
main .tabule .canvas .all-todo .todo .newTask .complete,
main .tabule .canvas .all-todo .progressTask .newTask .complete,
main .tabule .canvas .all-todo .completeTask .newTask .complete {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem 0 0.5rem;
}
main .tabule .canvas .all-todo .todo .newTask .complete .check label,
main .tabule .canvas .all-todo .progressTask .newTask .complete .check label,
main .tabule .canvas .all-todo .completeTask .newTask .complete .check label {
  font-size: 0.9rem;
  font-weight: 600;
}
main .tabule .canvas .all-todo .todo .newTask .complete #to-progress,
main .tabule .canvas .all-todo .progressTask .newTask .complete #to-progress,
main .tabule .canvas .all-todo .completeTask .newTask .complete #to-progress {
  color: #5f5f5f;
  border: none;
  background-color: #fff;
  outline: none;
  font-size: 15px;
  cursor: pointer;
}
main .tabule .canvas .all-todo .todo .newTask .complete .edit,
main .tabule .canvas .all-todo .progressTask .newTask .complete .edit,
main .tabule .canvas .all-todo .completeTask .newTask .complete .edit {
  content: url(/icon/edit.svg);
  height: 19px;
  width: 19px;
  cursor: pointer;
}
main .tabule .canvas .all-todo .todo .newTask .complete .delete,
main .tabule .canvas .all-todo .progressTask .newTask .complete .delete,
main .tabule .canvas .all-todo .completeTask .newTask .complete .delete {
  content: url(/icon/trash-2.svg);
  height: 19px;
  width: 19px;
  cursor: pointer;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-48px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-6.5px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-4px);
  }
  25%, 55%, 75%, 87%, 98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes pulse {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-48px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-6.5px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-4px);
  }
  25%, 55%, 75%, 87%, 98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}/*# sourceMappingURL=style.css.map */