@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
  color: #24282c;
  background: linear-gradient(90deg, #f7f6f0 20.7px, transparent 1%) center, linear-gradient(#f7f6f0 20.7px, transparent 1%) center, #6c6b6b;
  background-size: 22px 22px;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
}
main .tabule.active {
  width: 80% !important;
}
main #nav.active {
  width: 20% !important;
}
main nav {
  width: 5%;
  height: 100%;
  background-color: #fff;
  border-radius: 0 50px 40px 0;
  box-shadow: 0 2px 5px #6c6b6b;
  transition: all 200ms ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
main nav .hamburger {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 1.4rem;
  left: 0.7rem;
  z-index: 50;
  transform: rotate(30deg);
  transition: all 200ms ease-out;
}
main nav .hamburger span {
  display: block;
  width: 33px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background-color: #000;
  border-radius: 6px;
  z-index: 50;
  transform-origin: 0 0;
  transition: 0.4s;
}
main nav .hamburger span:nth-child(1) {
  width: 23px;
}
main nav .hamburger span:nth-child(3) {
  width: 23px;
  transform: translateX(10px);
}
main nav .hamburger.hamburger.is-active {
  left: 15%;
  top: 2rem;
}
main nav .hamburger.is-active span:nth-child(1) {
  transform: translate(-1px, 8.5px) rotate(-55deg);
}
main nav .hamburger.is-active span:nth-child(2) {
  transform: rotate(-30deg);
}
main nav .hamburger.is-active span:nth-child(3) {
  transform: translate(0px, -8px) rotate(-3deg);
}
main nav .navbar {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main nav .navbar h1 {
  font-size: clamp(1rem, 5vw, 1.5rem);
}
main nav .navbar .searchbox input {
  width: 150px;
  height: 1.5rem;
  border-radius: 40px;
  border: 2px solid #24282c;
  color: #24282c;
  padding: 0 1rem;
}
main nav .navbar .calendar-box {
  border: 2px solid #24282c;
  width: 9rem;
  height: 9rem;
  border-radius: 10px;
  margin: 1rem;
}
main .tabule {
  width: 95%;
  height: 100%;
  transition: all 200ms ease-out;
}
main .tabule .canvas {
  width: 100%;
  height: 100%;
}
main .tabule .canvas .head-create-task {
  width: 100%;
  height: 20%;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
main .tabule .canvas .head-create-task .first-row-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .tabule .canvas .head-create-task .first-row-head h2 {
  padding: 1rem;
  text-align: center;
  font-size: clamp(1rem, 5vw, 1.375rem);
}
main .tabule .canvas .head-create-task .first-row-head h2.moveUp {
  -webkit-animation: textUp 250ms ease-in both;
          animation: textUp 250ms ease-in both;
}
main .tabule .canvas .head-create-task .first-row-head h2.moveDown {
  -webkit-animation: textDown 300ms ease-in both;
          animation: textDown 300ms ease-in both;
}
main .tabule .canvas .head-create-task .first-row-head h2 #add-task {
  content: url(/icon/plus-circle.svg);
  display: inline-block;
  width: clamp(1.55rem, 6vw, 2.2rem);
  height: clamp(1.55rem, 6vw, 2.2rem);
  margin: 0 0.4rem;
  border-radius: 50%;
  background-color: #24282c;
  color: #fff;
  cursor: pointer;
  transform: translate(0, 5px);
  transition: all 300ms ease-out;
}
main .tabule .canvas .head-create-task .first-row-head h2 #add-task.click {
  transform: rotate(45deg) translate(5px, 5px);
}
main .tabule .canvas .head-create-task .first-row-head .create-task.onBlured {
  display: flex;
  height: initial;
  width: initial;
  -webkit-animation: slide-in-blurred-tl 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
          animation: slide-in-blurred-tl 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}
main .tabule .canvas .head-create-task .first-row-head .create-task.formOff {
  -webkit-animation: formOut 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: formOut 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
main .tabule .canvas .head-create-task .first-row-head .create-task {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 100;
  height: 30px;
  width: 30px;
  padding: 0.9rem;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 1px 2px 15px #6c6b6b;
  display: none;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
main .tabule .canvas .head-create-task .first-row-head .create-task input,
main .tabule .canvas .head-create-task .first-row-head .create-task select {
  border: none;
  border-radius: 10px;
  outline: none;
  color: #24282c;
  background-color: #f7f6f0;
  font-family: "Lora", serif;
  box-shadow: 0px 0px 10px rgb(93, 92, 92);
  transition: all 100ms ease-out;
}
main .tabule .canvas .head-create-task .first-row-head .create-task input:focus,
main .tabule .canvas .head-create-task .first-row-head .create-task select:focus {
  border: 1px solid #24282c;
  box-shadow: none;
}
main .tabule .canvas .head-create-task .first-row-head .create-task .one-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .tabule .canvas .head-create-task .first-row-head .create-task .one-row #text {
  width: 16rem;
  margin-bottom: 0.5rem;
}
main .tabule .canvas .head-create-task .first-row-head .create-task .one-row #description {
  width: 16rem;
}
main .tabule .canvas .head-create-task .first-row-head .create-task .one-row input {
  padding: 0.3rem 0.5rem;
}
main .tabule .canvas .head-create-task .first-row-head .create-task .two-row {
  width: 9rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
main .tabule .canvas .head-create-task .first-row-head .create-task .two-row label {
  transform: translateY(5px);
}
main .tabule .canvas .head-create-task .first-row-head .create-task .two-row input,
main .tabule .canvas .head-create-task .first-row-head .create-task .two-row select {
  padding: 0.2rem 0.25rem;
  margin: 0.4rem 0;
}
main .tabule .canvas .head-create-task .first-row-head .create-task .two-row #date,
main .tabule .canvas .head-create-task .first-row-head .create-task .two-row #time,
main .tabule .canvas .head-create-task .first-row-head .create-task .two-row #priority {
  text-align: center;
  width: 6.7rem;
}
main .tabule .canvas .head-create-task .first-row-head .create-task .two-row .date,
main .tabule .canvas .head-create-task .first-row-head .create-task .two-row .time,
main .tabule .canvas .head-create-task .first-row-head .create-task .two-row .prior label {
  height: 20px;
  width: 20px;
  margin-right: 0.3rem;
}
main .tabule .canvas .head-create-task .first-row-head .create-task .two-row .date {
  content: url(/icon/calendar.svg);
}
main .tabule .canvas .head-create-task .first-row-head .create-task .two-row .time {
  content: url(/icon/clock.svg);
}
main .tabule .canvas .head-create-task .first-row-head .create-task .two-row .prior label {
  content: url(/icon/alert-triangle.svg);
}
main .tabule .canvas .head-create-task .first-row-head .create-task .submit-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #24282c center center url(/icon/plus-circle.svg);
  display: flex;
  align-items: center;
  justify-content: center;
}
main .tabule .canvas .head-create-task .first-row-head .create-task .submit-btn #submit {
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
  opacity: 0.1;
  background-color: #24282c;
}
main .tabule .canvas .head-create-task .second-row-head {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
main .tabule .canvas .head-create-task .second-row-head .count-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .tabule .canvas .head-create-task .second-row-head .to-start-icon {
  content: url(/icon/circle.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(20px, 5vw, 30px);
  height: clamp(20px, 5vw, 30px);
  padding: 0.2rem;
  background-color: #fff;
  border-radius: 15px;
}
main .tabule .canvas .head-create-task .second-row-head .progress-icon {
  content: url(/icon/progress.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(20px, 5vw, 30px);
  height: clamp(20px, 5vw, 30px);
  padding: 0.2rem;
  background-color: #fff;
  border-radius: 15px;
}
main .tabule .canvas .head-create-task .second-row-head .complet-icon {
  content: url(/icon/check-circle.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(20px, 5vw, 30px);
  height: clamp(20px, 5vw, 30px);
  padding: 0.2rem;
  background-color: #fff;
  border-radius: 15px;
}
main .tabule .canvas .head-create-task .second-row-head #count-toStart-task,
main .tabule .canvas .head-create-task .second-row-head #count-inProgress-task,
main .tabule .canvas .head-create-task .second-row-head #count-complete-task {
  width: clamp(22px, 5vw, 30px);
  height: clamp(22px, 5vw, 30px);
  background-color: #82f36b;
  border-radius: 10px;
  margin: 0.5rem;
  font-weight: 500;
  font-size: clamp(14px, 5vw, 16px);
  display: flex;
  align-items: center;
  justify-content: center;
}
main .tabule .canvas .head-create-task .third-row-head {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .tabule .canvas .all-todo {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
main .tabule .canvas .all-todo h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1rem, 5vw, 1.375rem);
  font-weight: 600;
  padding: 1rem 0;
}
main .tabule .canvas .all-todo .to-start {
  padding: 0 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  position: relative;
}
main .tabule .canvas .all-todo .in-progress {
  padding: 0 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
main .tabule .canvas .all-todo .done {
  padding: 0 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
main .tabule .canvas .all-todo .todo,
main .tabule .canvas .all-todo .progressTask,
main .tabule .canvas .all-todo .completeTask {
  width: 100%;
  height: 100%;
}
main .tabule .canvas .all-todo .todo .newTask,
main .tabule .canvas .all-todo .progressTask .newTask,
main .tabule .canvas .all-todo .completeTask .newTask {
  list-style: none;
  width: clamp(285px, 5vw, 95%);
  height: 6rem;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #fff;
  color: #24282c;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 7px #6c6b6b;
  transition: all 200ms ease-out;
}
main .tabule .canvas .all-todo .todo .newTask:hover, main .tabule .canvas .all-todo .todo .newTask:focus,
main .tabule .canvas .all-todo .progressTask .newTask:hover,
main .tabule .canvas .all-todo .progressTask .newTask:focus,
main .tabule .canvas .all-todo .completeTask .newTask:hover,
main .tabule .canvas .all-todo .completeTask .newTask:focus {
  height: 8.5rem;
}
main .tabule .canvas .all-todo .todo .newTask .head,
main .tabule .canvas .all-todo .progressTask .newTask .head,
main .tabule .canvas .all-todo .completeTask .newTask .head {
  width: 100%;
  height: 9px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
main .tabule .canvas .all-todo .todo .newTask .head .priority,
main .tabule .canvas .all-todo .progressTask .newTask .head .priority,
main .tabule .canvas .all-todo .completeTask .newTask .head .priority {
  display: inline-block;
  width: 50px;
  height: 8px;
  border-radius: 5px;
  background-color: #14dd28;
}
main .tabule .canvas .all-todo .todo .newTask .head .status,
main .tabule .canvas .all-todo .progressTask .newTask .head .status,
main .tabule .canvas .all-todo .completeTask .newTask .head .status {
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
main .tabule .canvas .all-todo .todo .newTask .head .status .to-do,
main .tabule .canvas .all-todo .progressTask .newTask .head .status .to-do,
main .tabule .canvas .all-todo .completeTask .newTask .head .status .to-do {
  content: url(/icon/circle.svg);
  height: 15px;
  width: 15px;
}
main .tabule .canvas .all-todo .todo .newTask .head .status .progress,
main .tabule .canvas .all-todo .progressTask .newTask .head .status .progress,
main .tabule .canvas .all-todo .completeTask .newTask .head .status .progress {
  content: url(/icon/progress.svg);
  height: 15px;
  width: 15px;
}
main .tabule .canvas .all-todo .todo .newTask .head .status .complet,
main .tabule .canvas .all-todo .progressTask .newTask .head .status .complet,
main .tabule .canvas .all-todo .completeTask .newTask .head .status .complet {
  content: url(/icon/check-circle.svg);
  height: 15px;
  width: 15px;
}
main .tabule .canvas .all-todo .todo .newTask .task-info,
main .tabule .canvas .all-todo .progressTask .newTask .task-info,
main .tabule .canvas .all-todo .completeTask .newTask .task-info {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}
main .tabule .canvas .all-todo .todo .newTask .task-info .taskText,
main .tabule .canvas .all-todo .progressTask .newTask .task-info .taskText,
main .tabule .canvas .all-todo .completeTask .newTask .task-info .taskText {
  width: 100%;
}
main .tabule .canvas .all-todo .todo .newTask .task-info .taskText input,
main .tabule .canvas .all-todo .progressTask .newTask .task-info .taskText input,
main .tabule .canvas .all-todo .completeTask .newTask .task-info .taskText input {
  border: none;
  padding: 0.2rem;
  border-radius: 10px;
  outline: none;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
main .tabule .canvas .all-todo .todo .newTask .task-info .taskText #taskName,
main .tabule .canvas .all-todo .progressTask .newTask .task-info .taskText #taskName,
main .tabule .canvas .all-todo .completeTask .newTask .task-info .taskText #taskName {
  color: #24282c;
  font-size: clamp(0.9rem, 10vw, 1.1rem);
  font-weight: 500;
}
main .tabule .canvas .all-todo .todo .newTask .task-info .taskText #note,
main .tabule .canvas .all-todo .progressTask .newTask .task-info .taskText #note,
main .tabule .canvas .all-todo .completeTask .newTask .task-info .taskText #note {
  color: #5f5f5f;
}
main .tabule .canvas .all-todo .todo .newTask .task-info .clock,
main .tabule .canvas .all-todo .progressTask .newTask .task-info .clock,
main .tabule .canvas .all-todo .completeTask .newTask .task-info .clock {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .tabule .canvas .all-todo .todo .newTask .task-info .clock input,
main .tabule .canvas .all-todo .progressTask .newTask .task-info .clock input,
main .tabule .canvas .all-todo .completeTask .newTask .task-info .clock input {
  text-align: center;
  border: none;
  width: 6rem;
  padding: 0.2rem;
  border-radius: 10px;
  outline: none;
  color: #24282c;
  font-family: "Lora", serif;
  font-size: 0.93rem;
}
main .tabule .canvas .all-todo .todo .newTask .complete,
main .tabule .canvas .all-todo .progressTask .newTask .complete,
main .tabule .canvas .all-todo .completeTask .newTask .complete {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem 0 0.5rem;
}
main .tabule .canvas .all-todo .todo .newTask .complete .check,
main .tabule .canvas .all-todo .progressTask .newTask .complete .check,
main .tabule .canvas .all-todo .completeTask .newTask .complete .check {
  width: 25px;
  display: block;
}
main .tabule .canvas .all-todo .todo .newTask .complete .check input,
main .tabule .canvas .all-todo .progressTask .newTask .complete .check input,
main .tabule .canvas .all-todo .completeTask .newTask .complete .check input {
  display: none;
}
main .tabule .canvas .all-todo .todo .newTask .complete .check .checkbox,
main .tabule .canvas .all-todo .progressTask .newTask .complete .check .checkbox,
main .tabule .canvas .all-todo .completeTask .newTask .complete .check .checkbox {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #24282c;
  cursor: pointer;
  transition: 0.375s;
}
main .tabule .canvas .all-todo .todo .newTask .complete .check input:checked ~ .checkbox,
main .tabule .canvas .all-todo .progressTask .newTask .complete .check input:checked ~ .checkbox,
main .tabule .canvas .all-todo .completeTask .newTask .complete .check input:checked ~ .checkbox {
  rotate: 45deg;
  translate: 15px -8px;
  width: 8px;
  border-color: #14dd28;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 0;
}
main .tabule .canvas .all-todo .todo .newTask .complete #to-progress,
main .tabule .canvas .all-todo .progressTask .newTask .complete #to-progress,
main .tabule .canvas .all-todo .completeTask .newTask .complete #to-progress {
  color: #5f5f5f;
  border: none;
  background-color: #fff;
  outline: none;
  font-size: 15px;
  cursor: pointer;
  transition: 200ms ease;
}
main .tabule .canvas .all-todo .todo .newTask .complete #to-progress:hover,
main .tabule .canvas .all-todo .progressTask .newTask .complete #to-progress:hover,
main .tabule .canvas .all-todo .completeTask .newTask .complete #to-progress:hover {
  color: #24282c;
  transform: scale(1.1);
}
main .tabule .canvas .all-todo .todo .newTask .complete .edit,
main .tabule .canvas .all-todo .progressTask .newTask .complete .edit,
main .tabule .canvas .all-todo .completeTask .newTask .complete .edit {
  content: url(/icon/edit.svg);
  height: 19px;
  width: 19px;
  cursor: pointer;
}
main .tabule .canvas .all-todo .todo .newTask .complete .delete,
main .tabule .canvas .all-todo .progressTask .newTask .complete .delete,
main .tabule .canvas .all-todo .completeTask .newTask .complete .delete {
  content: url(/icon/trash-2.svg);
  height: 19px;
  width: 19px;
  cursor: pointer;
}

@-webkit-keyframes slide-in-blurred-tl {
  0% {
    transform: translate(-350px, -350px) skew(80deg, 10deg);
    transform-origin: 100% 0;
    filter: blur(45px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) skew(0deg, 0deg);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-tl {
  0% {
    transform: translate(-350px, -350px) skew(80deg, 10deg);
    transform-origin: 100% 0;
    filter: blur(45px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) skew(0deg, 0deg);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}
@-webkit-keyframes formOut {
  0% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 1;
  }
}
@keyframes formOut {
  0% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 1;
  }
}
@-webkit-keyframes textUp {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -30px);
  }
}
@keyframes textUp {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -30px);
  }
}
@-webkit-keyframes textDown {
  0% {
    transform: translate(0, -30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes textDown {
  0% {
    transform: translate(0, -30px);
  }
  100% {
    transform: translate(0, 0);
  }
}/*# sourceMappingURL=style.css.map */